# Build outputs
node_modules
dist

# Development environment
.vscode
.yarn

# Logs
yarn-error.log

# Cache
__pycache__

# IDE specific files
.idea
*.iml
.DS_Store

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache
